In [1]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

In [49]:
df = sqlContext.read.csv('hdfs://master:9000/user/hadoop/merge_LandValue_')

In [11]:
df.show()

+-------------------+---------+
|                _c0|      _c1|
+-------------------+---------+
|1111018200101380019| 176140.0|
|1111018300104760016|2036800.0|
|1111018400102510018| 448800.0|
|1111018300104460011|1857200.0|
|1111018400101940005|1338000.0|
|1111018400101980001| 441540.0|
|1111018200101270003|1328200.0|
|1111018100100160013|4043000.0|
|1111017900100420010|4205400.0|
|1111018200100810001| 353360.0|
|1111018200102300039|1862000.0|
|1111018100100010117|2566000.0|
|1111017500102400016|5128800.0|
|1111016700101360002|5497000.0|
|1111018600101600003|1357800.0|
|1111017400106270074| 725340.0|
|1111017300100011083|1632200.0|
|1111016400102390020|4228000.0|
|1111015900102530000|3090000.0|
|1111016700100310025|6852800.0|
+-------------------+---------+
only showing top 20 rows

In [50]:
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import substring

df = df.withColumn('jibun', df['_c0']) \
        .withColumn('dong', substring(df['_c0'], 1, 10).cast(IntegerType())) \
        .withColumn('mount', substring(df['_c0'], 11, 1).cast(IntegerType()) - 1) \
        .withColumn('main', substring(df['_c0'], 12, 4).cast(IntegerType())) \
        .withColumn('sub', substring(df['_c0'], 16, 4).cast(IntegerType()))
df.show()

+-------------------+---------+-------------------+----------+-----+----+----+
|                _c0|      _c1|              jibun|      dong|mount|main| sub|
+-------------------+---------+-------------------+----------+-----+----+----+
|1111018200101380019| 176140.0|1111018200101380019|1111018200|    0| 138|  19|
|1111018300104760016|2036800.0|1111018300104760016|1111018300|    0| 476|  16|
|1111018400102510018| 448800.0|1111018400102510018|1111018400|    0| 251|  18|
|1111018300104460011|1857200.0|1111018300104460011|1111018300|    0| 446|  11|
|1111018400101940005|1338000.0|1111018400101940005|1111018400|    0| 194|   5|
|1111018400101980001| 441540.0|1111018400101980001|1111018400|    0| 198|   1|
|1111018200101270003|1328200.0|1111018200101270003|1111018200|    0| 127|   3|
|1111018100100160013|4043000.0|1111018100100160013|1111018100|    0|  16|  13|
|1111017900100420010|4205400.0|1111017900100420010|1111017900|    0|  42|  10|
|1111018200100810001| 353360.0|1111018200100810001|1111018200|    0|  81|   1|
|1111018200102300039|1862000.0|1111018200102300039|1111018200|    0| 230|  39|
|1111018100100010117|2566000.0|1111018100100010117|1111018100|    0|   1| 117|
|1111017500102400016|5128800.0|1111017500102400016|1111017500|    0| 240|  16|
|1111016700101360002|5497000.0|1111016700101360002|1111016700|    0| 136|   2|
|1111018600101600003|1357800.0|1111018600101600003|1111018600|    0| 160|   3|
|1111017400106270074| 725340.0|1111017400106270074|1111017400|    0| 627|  74|
|1111017300100011083|1632200.0|1111017300100011083|1111017300|    0|   1|1083|
|1111016400102390020|4228000.0|1111016400102390020|1111016400|    0| 239|  20|
|1111015900102530000|3090000.0|1111015900102530000|1111015900|    0| 253|   0|
|1111016700100310025|6852800.0|1111016700100310025|1111016700|    0|  31|  25|
+-------------------+---------+-------------------+----------+-----+----+----+
only showing top 20 rows

In [51]:
df = df.withColumn('value', df['_c1'])[['jibun', 'dong', 'mount', 'main', 'sub', 'value']]
df.show()

+-------------------+----------+-----+----+----+---------+
|              jibun|      dong|mount|main| sub|    value|
+-------------------+----------+-----+----+----+---------+
|1111018200101380019|1111018200|    0| 138|  19| 176140.0|
|1111018300104760016|1111018300|    0| 476|  16|2036800.0|
|1111018400102510018|1111018400|    0| 251|  18| 448800.0|
|1111018300104460011|1111018300|    0| 446|  11|1857200.0|
|1111018400101940005|1111018400|    0| 194|   5|1338000.0|
|1111018400101980001|1111018400|    0| 198|   1| 441540.0|
|1111018200101270003|1111018200|    0| 127|   3|1328200.0|
|1111018100100160013|1111018100|    0|  16|  13|4043000.0|
|1111017900100420010|1111017900|    0|  42|  10|4205400.0|
|1111018200100810001|1111018200|    0|  81|   1| 353360.0|
|1111018200102300039|1111018200|    0| 230|  39|1862000.0|
|1111018100100010117|1111018100|    0|   1| 117|2566000.0|
|1111017500102400016|1111017500|    0| 240|  16|5128800.0|
|1111016700101360002|1111016700|    0| 136|   2|5497000.0|
|1111018600101600003|1111018600|    0| 160|   3|1357800.0|
|1111017400106270074|1111017400|    0| 627|  74| 725340.0|
|1111017300100011083|1111017300|    0|   1|1083|1632200.0|
|1111016400102390020|1111016400|    0| 239|  20|4228000.0|
|1111015900102530000|1111015900|    0| 253|   0|3090000.0|
|1111016700100310025|1111016700|    0|  31|  25|6852800.0|
+-------------------+----------+-----+----+----+---------+
only showing top 20 rows

In [23]:
df_jibun = sqlContext.read.option("delimiter", "|").csv('hdfs://master:9000/user/hadoop/jibun.txt', encoding="euc-kr")

In [24]:
df_jibun.show()

+--------------------+---+----------+-----+---+---+----+---+---+---+----+
|                 _c0|_c1|       _c2|  _c3|_c4|_c5| _c6|_c7|_c8|_c9|_c10|
+--------------------+---+----------+-----+---+---+----+---+---+---+----+
|11110101001000100...|  1|1111010100|서울특별시|종로구|청운동|null|  0|  1|  0|   1|
|11110101001000300...|  1|1111010100|서울특별시|종로구|청운동|null|  0|  3|  0|   1|
|11110101001000300...|  1|1111010100|서울특별시|종로구|청운동|null|  0|  3|100|   1|
|11110101001000300...|  2|1111010100|서울특별시|종로구|청운동|null|  0|  3| 65|   0|
|11110101001000301...|  1|1111010100|서울특별시|종로구|청운동|null|  0|  3|150|   1|
|11110101001000400...|  1|1111010100|서울특별시|종로구|청운동|null|  0|  4|  1|   1|
|11110101001000400...|  2|1111010100|서울특별시|종로구|청운동|null|  0|  3| 94|   0|
|11110101001000400...|  3|1111010100|서울특별시|종로구|청운동|null|  0|  3|138|   0|
|11110101001000400...|  4|1111010100|서울특별시|종로구|청운동|null|  0|  4|  5|   0|
|11110101001000400...|  5|1111010100|서울특별시|종로구|청운동|null|  0|  4| 27|   0|
|11110101001000400...|  6|1111010100|서울특별시|종로구|청운동|null|  0|  4| 42|   0|
|11110101001000400...|  1|1111010100|서울특별시|종로구|청운동|null|  0|  4|  3|   1|
|11110101001000400...|  2|1111010100|서울특별시|종로구|청운동|null|  0|  4| 16|   0|
|11110101001000400...|  1|1111010100|서울특별시|종로구|청운동|null|  0|  4|  7|   1|
|11110101001000400...|  2|1111010100|서울특별시|종로구|청운동|null|  0|  4|  9|   0|
|11110101001000400...|  3|1111010100|서울특별시|종로구|청운동|null|  0|  4| 11|   0|
|11110101001000400...|  4|1111010100|서울특별시|종로구|청운동|null|  0|  4| 12|   0|
|11110101001000400...|  1|1111010100|서울특별시|종로구|청운동|null|  0|  4| 14|   1|
|11110101001000400...|  1|1111010100|서울특별시|종로구|청운동|null|  0|  4| 15|   1|
|11110101001000400...|  1|1111010100|서울특별시|종로구|청운동|null|  0|  4| 18|   1|
+--------------------+---+----------+-----+---+---+----+---+---+---+----+
only showing top 20 rows

In [28]:
df_reduce = df_jibun[['_c0', '_c2', '_c7', '_c8', '_c9']]
df_reduce.show()

+--------------------+----------+---+---+---+
|                 _c0|       _c2|_c7|_c8|_c9|
+--------------------+----------+---+---+---+
|11110101001000100...|1111010100|  0|  1|  0|
|11110101001000300...|1111010100|  0|  3|  0|
|11110101001000300...|1111010100|  0|  3|100|
|11110101001000300...|1111010100|  0|  3| 65|
|11110101001000301...|1111010100|  0|  3|150|
|11110101001000400...|1111010100|  0|  4|  1|
|11110101001000400...|1111010100|  0|  3| 94|
|11110101001000400...|1111010100|  0|  3|138|
|11110101001000400...|1111010100|  0|  4|  5|
|11110101001000400...|1111010100|  0|  4| 27|
|11110101001000400...|1111010100|  0|  4| 42|
|11110101001000400...|1111010100|  0|  4|  3|
|11110101001000400...|1111010100|  0|  4| 16|
|11110101001000400...|1111010100|  0|  4|  7|
|11110101001000400...|1111010100|  0|  4|  9|
|11110101001000400...|1111010100|  0|  4| 11|
|11110101001000400...|1111010100|  0|  4| 12|
|11110101001000400...|1111010100|  0|  4| 14|
|11110101001000400...|1111010100|  0|  4| 15|
|11110101001000400...|1111010100|  0|  4| 18|
+--------------------+----------+---+---+---+
only showing top 20 rows

In [52]:
df_joined = df.join(df_reduce, (df['dong'] == df_reduce['_c2']) & (df['mount'] == df_reduce['_c7']) & (df['main'] == df_reduce['_c8']) & (df['sub'] == df_reduce['_c9']))
df_joined.show()

+-------------------+----------+-----+----+---+---------+--------------------+----------+---+---+---+
|              jibun|      dong|mount|main|sub|    value|                 _c0|       _c2|_c7|_c8|_c9|
+-------------------+----------+-----+----+---+---------+--------------------+----------+---+---+---+
|1111010200100010028|1111010200|    0|   1| 28|2084400.0|11110102001000100...|1111010200|  0|  1| 28|
|1111010500100210013|1111010500|    0|  21| 13|4045600.0|11110105001002100...|1111010500|  0| 21| 13|
|1111010600100250004|1111010600|    0|  25|  4|3296200.0|11110106001002500...|1111010600|  0| 25|  4|
|1111010800101470001|1111010800|    0| 147|  1|7340800.0|11110108001014700...|1111010800|  0|147|  1|
|1111010900100230000|1111010900|    0|  23|  0|2660000.0|11110109001002300...|1111010900|  0| 23|  0|
|1111010900100380001|1111010900|    0|  38|  1|3249200.0|11110109001003800...|1111010900|  0| 38|  1|
|1111010900101660077|1111010900|    0| 166| 77|2928000.0|11110109001016600...|1111010900|  0|166| 77|
|1111011000100780003|1111011000|    0|  78|  3|4866000.0|11110110001007700...|1111011000|  0| 78|  3|
|1111011100100190012|1111011100|    0|  19| 12|3014800.0|11110111001001900...|1111011100|  0| 19| 12|
|1111011100100470065|1111011100|    0|  47| 65|3179600.0|11110111001004700...|1111011100|  0| 47| 65|
|1111011100100470162|1111011100|    0|  47|162|2553000.0|11110111001004701...|1111011100|  0| 47|162|
|1111011100101100000|1111011100|    0| 110|  0|2991000.0|11110111001011000...|1111011100|  0|110|  0|
|1111011200101190000|1111011200|    0| 119|  0|3204200.0|11110112001011900...|1111011200|  0|119|  0|
|1111012000102390000|1111012000|    0| 239|  0|  4.017E7|11110117001002900...|1111012000|  0|239|  0|
|1111012100100010165|1111012100|    0|   1|165|3542400.0|11110121001000101...|1111012100|  0|  1|165|
|1111012100101080007|1111012100|    0| 108|  7|8732400.0|11110121001010800...|1111012100|  0|108|  7|
|1111012200100430002|1111012200|    0|  43|  2|  1.886E7|11110122001004100...|1111012200|  0| 43|  2|
|1111012500101100002|1111012500|    0| 110|  2| 1.2274E7|11110125001011000...|1111012500|  0|110|  2|
|1111012600100420000|1111012600|    0|  42|  0|   3.63E7|11110122001007000...|1111012600|  0| 42|  0|
|1111012600100440000|1111012600|    0|  44|  0|   3.63E7|11110122001007000...|1111012600|  0| 44|  0|
+-------------------+----------+-----+----+---+---------+--------------------+----------+---+---+---+
only showing top 20 rows

In [53]:
df_coded = df_joined.withColumn('code', df_joined['_c0'])[['jibun', 'dong', 'code', 'value']]
df_coded = df_coded.filter(df_coded['code'].isNotNull())
df_coded.show()

+-------------------+----------+--------------------+---------+
|              jibun|      dong|                code|    value|
+-------------------+----------+--------------------+---------+
|1111010200100010028|1111010200|11110102001000100...|2084400.0|
|1111010500100210013|1111010500|11110105001002100...|4045600.0|
|1111010600100250004|1111010600|11110106001002500...|3296200.0|
|1111010800101470001|1111010800|11110108001014700...|7340800.0|
|1111010900100230000|1111010900|11110109001002300...|2660000.0|
|1111010900100380001|1111010900|11110109001003800...|3249200.0|
|1111010900101660077|1111010900|11110109001016600...|2928000.0|
|1111011000100780003|1111011000|11110110001007700...|4866000.0|
|1111011100100190012|1111011100|11110111001001900...|3014800.0|
|1111011100100470065|1111011100|11110111001004700...|3179600.0|
|1111011100100470162|1111011100|11110111001004701...|2553000.0|
|1111011100101100000|1111011100|11110111001011000...|2991000.0|
|1111011200101190000|1111011200|11110112001011900...|3204200.0|
|1111012000102390000|1111012000|11110117001002900...|  4.017E7|
|1111012100100010165|1111012100|11110121001000101...|3542400.0|
|1111012100101080007|1111012100|11110121001010800...|8732400.0|
|1111012200100430002|1111012200|11110122001004100...|  1.886E7|
|1111012500101100002|1111012500|11110125001011000...| 1.2274E7|
|1111012600100420000|1111012600|11110122001007000...|   3.63E7|
|1111012600100440000|1111012600|11110122001007000...|   3.63E7|
+-------------------+----------+--------------------+---------+
only showing top 20 rows

In [46]:
df_add = sqlContext.read.option("delimiter", "|").csv('hdfs://master:9000/user/hadoop/additional.txt', encoding="euc-kr")
df_add.show()

+--------------------+----------+-----+-----+----+----+--------------+---------------+---+
|                 _c0|       _c1|  _c2|  _c3| _c4| _c5|           _c6|            _c7|_c8|
+--------------------+----------+-----+-----+----+----+--------------+---------------+---+
|11110101001000100...|1111051500|청운효자동|03046|null|null|       청운벽산빌리지|        청운벽산빌리지|  1|
|11110101001000300...|1111051500|청운효자동|03046|null|null|          인텔빌라|           인텔빌라|  1|
|11110101001000300...|1111051500|청운효자동|03046|null|null|          null|         윤동주문학관|  0|
|11110101001000301...|1111051500|청운효자동|03046|null|null|          인텔빌라|           인텔빌라|  1|
|11110101001000400...|1111051500|청운효자동|03046|null|null|청운동 파라디아 아델하우스| 청운동 파라디아 아델하우스|  1|
|11110101001000400...|1111051500|청운효자동|03046|null|null|          투스칸2|           투스칸2|  1|
|11110101001000400...|1111051500|청운효자동|03046|null|null|         신구파인힐|          신구파인힐|  1|
|11110101001000400...|1111051500|청운효자동|03046|null|null|          null|            리뉴빌|  1|
|11110101001000400...|1111051500|청운효자동|03046|null|null|          null|           null|  0|
|11110101001000400...|1111051500|청운효자동|03046|null|null|          null|           null|  0|
|11110101001000400...|1111051500|청운효자동|03046|null|null|          null|   청운동 한옥문학 도서관|  0|
|11110101001000400...|1111051500|청운효자동|03046|null|null|          null|           null|  0|
|11110101001000400...|1111051500|청운효자동|03046|null|null|          null|           청운빌라|  1|
|11110101001000500...|1111051500|청운효자동|03046|null|null|          null|예수그리스도후기성도교회수도원|  0|
|11110101001000600...|1111051500|청운효자동|03031|null|null|          null|        청운 어린이집|  0|
|11110101001000700...|1111051500|청운효자동|03031|null|null|          null|           null|  0|
|11110101001000800...|1111051500|청운효자동|03031|null|null|          null|    키르키즈공화국대사관저|  0|
|11110101001000800...|1111051500|청운효자동|03031|null|null|          효성빌라|           효성빌라|  1|
|11110101001000800...|1111051500|청운효자동|03031|null|null|          null|           null|  0|
|11110101001000800...|1111051500|청운효자동|03031|null|null|          null|          동성빌리지|  1|
+--------------------+----------+-----+-----+----+----+--------------+---------------+---+
only showing top 20 rows

In [56]:
df_mapped = df_coded.join(df_add, df_coded['code'] == df_add['_c0'])
df_mapped = df_mapped.withColumn('adm_code', df_mapped['_c1'])[['jibun', 'value', 'adm_code']]
df_mapped = df_mapped.filter(df_mapped['adm_code'].isNotNull())
df_mapped.show()

+-------------------+---------+----------+
|              jibun|    value|  adm_code|
+-------------------+---------+----------+
|1111010200100010028|2084400.0|1111051500|
|1111010500100210013|4045600.0|1111051500|
|1111010600100250004|3296200.0|1111053000|
|1111010800101470001|7340800.0|1111051500|
|1111010900100230000|2660000.0|1111051500|
|1111010900100380001|3249200.0|1111051500|
|1111010900101660077|2928000.0|1111051500|
|1111011000100780003|4866000.0|1111051500|
|1111011100100190012|3014800.0|1111051500|
|1111011100100470065|3179600.0|1111051500|
|1111011100100470162|2553000.0|1111051500|
|1111011100101100000|2991000.0|1111051500|
|1111011200101190000|3204200.0|1111053000|
|1111012000102390000|  4.017E7|1111053000|
|1111012100100010165|3542400.0|1111053000|
|1111012100101080007|8732400.0|1111053000|
|1111012200100430002|  1.886E7|1111061500|
|1111012500101100002| 1.2274E7|1111061500|
|1111012600100420000|   3.63E7|1111061500|
|1111012600100440000|   3.63E7|1111061500|
+-------------------+---------+----------+
only showing top 20 rows

In [58]:
df_mapped.repartition(1).write.csv("hdfs://master:9000/user/hadoop/land_value_adm")